 @font-face {
   font-family: "Bebas Neue";
  src: url(assets/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Hind Regular", sans-serif;
   src: url(assets/Hind-Regular.ttf);
}

html * {
    background-color: snow;
}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    text-align: center;
}

.home.title {
    font-size: 120px;
}

.recipe.title {
    font-size: 80px;
}

.recipe-img {
    height: auto;
    width: 300px;
    
}

body {
    font-family: "Hind", sans-serif;
    text-align: center;
}

.recipe-box {
    opacity: 0.5;
    height:auto;
    width: 200px;
}

img:hover {
    opacity: 0.8;
}  

ul,
ol {
    list-style-type:none;
}