body {
    background-color: #FAF9F0;
    font-family: sans-serif;
}
.index ul {
    list-style: none;
    font-size: 20px;
    padding: 0;
}

h1 {
    color: #81b29a;
    text-align: center;
    font-size: 55px;
}

.recipe h1 {
    font-size: 40px;
    margin-bottom: 2px;
    color: #5f797b
}

.index img {
    width: 300px;
    height: auto;
}

.recipe_list li {
    text-align: center;
    padding: 10px;
}

a:link {
    color: #C75784;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

a:visited {
    color: #07639D;
}

.subtitle {
    color: #81b29a;
    text-align: center;
    margin-top: 2px;
    font-style: italic;
}

